<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lilanjuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,134}</string>
                <key>spriteSourceSize</key>
                <string>{110,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>moren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,541}</string>
                <key>spriteSourceSize</key>
                <string>{499,541}</string>
                <key>textureRect</key>
                <string>{{0,139},{499,541}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhongnanshan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,139}</string>
                <key>spriteSourceSize</key>
                <string>{121,139}</string>
                <key>textureRect</key>
                <string>{{110,0},{121,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{499,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a92ccd492a1b91f7303d78a97c5d4c0:3cc906127a9388e8b8a5712dc35f4d29:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
